:root {
  --success-color: #84cc16;
  --warning-color: #eab308;
  --danger-color: #dc2626;
  --disabled-color: #cdd1ce
}

.color-success {
  color: var(--success-color);
}
.color-warning {
  color: var(--warning-color);
}
.color-danger {
  color: var(--danger-color);
}
.color-disabled {
  color: var(--disabled-color);
}

.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
